!!!
%html
  %head
    %title= content_for(:title) || "EasyMeal"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    = csrf_meta_tags
    = csp_meta_tag

    = yield :head

    %link{rel: "manifest", href: "/manifest.json"}
    %link{rel: "icon", href: "/icon.png", type: "image/png"}
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}
    %link{rel: "apple-touch-icon", href: "/icon.png"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body{ class: ("home-page" if home_page?) }
    -# Flash messages modernes
    - if notice.present? || alert.present?
      .flash-messages
        - if notice.present?
          .flash-message.notice{data: {controller: "flash"}}
            = notice
        - if alert.present?
          .flash-message.alert{data: {controller: "flash"}}
            = alert

    -# Navigation principale responsive
    - if user_signed_in?
      %header.main-header
        %nav.nav-container{ data: { controller: "menu" } }
          .nav-brand
            = link_to root_path, class: "brand-link" do
              = image_tag "logos/logo_EasyMeal.svg", alt: "EasyMeal", class: "logo"
          - if home_page?
            .nav-content
              %span.user-greeting
                = random_greeting(current_user)
          
          -# Menu utilisateur dropdown
          .user-menu
            %button.user-menu-button{ type: "button", data: { action: "click->menu#toggle", menu_target: "button" } }
              .user-avatar
                = current_user.first_name[0].upcase + current_user.last_name[0].upcase
              %span.user-name= current_user.first_name
              %svg.chevron{ width: "12", height: "12", viewBox: "0 0 24 24", fill: "none", stroke: "currentColor", "stroke-width": "3" }
                %polyline{ points: "6 9 12 15 18 9" }
            
            .user-dropdown{ data: { menu_target: "dropdown" } }
              .dropdown-header
                .dropdown-user-info
                  .dropdown-avatar
                    = current_user.first_name[0].upcase + current_user.last_name[0].upcase
                  .dropdown-user-details
                    %strong= "#{current_user.first_name} #{current_user.last_name}"
                    %small= current_user.email
              
              .dropdown-divider
              
              .dropdown-links
                = link_to ingredients_path, class: "dropdown-link" do
                  %svg{ width: "20", height: "20", viewBox: "0 0 24 24", fill: "none", stroke: "currentColor", "stroke-width": "2" }
                    %path{ d: "M3 3h18v18H3V3z" }
                    %path{ d: "M9 3v18M15 3v18M3 9h18M3 15h18" }
                  %span Ingrédients
                
                = link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-link logout" do
                  %svg{ width: "20", height: "20", viewBox: "0 0 24 24", fill: "none", stroke: "currentColor", "stroke-width": "2" }
                    %path{ d: "M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" }
                    %polyline{ points: "16 17 21 12 16 7" }
                    %line{ x1: "21", y1: "12", x2: "9", y2: "12" }
                  %span Me déconnecter
    - else
      %header.main-header.auth-header
        %nav.nav-container
          .nav-brand
            = link_to root_path, class: "brand-link" do
              = image_tag "logos/logo_EasyMeal.svg", alt: "EasyMeal", class: "logo"
          .nav-links
            = link_to "Se connecter", new_user_session_path, class: "nav-link"
            = link_to "S'inscrire", new_user_registration_path, class: "nav-link btn-signup"

    %main.main-content
      = yield
